body{
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow: hidden;
}
.container{
  display: inline-flex;
  flex-direction: column-reverse;
  height: 100vh;
  width: 100%;
}
.bar{
  width: 100%;
  background: transparent;
}
.bar.low{
  background: lightcoral;
}
.bar.med{
  background: lightsalmon;
}
.bar.high{
  background: lightgreen;
}
